/* header */
.header {
    box-shadow: 0px 1px 0px gray;
    padding: 15px 20px;
}

.header .inner-logo img {
    max-height: 50px;
    max-width: 100%;
}

.header .inner-menu .menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.header .inner-menu ul li {
    margin-left: 20px;
}

.header .inner-menu ul li a {
    font-size: 17px;
}

/* header */

/* footer */

.footer {
    text-align: center;
    padding: 10px 0px;
    background-color: orange;
}

/* footer */

/* box-head */
.box-head {
    margin-bottom: 30px;
}

.box-head .inner-title {
    margin-bottom: 0;
    font-size: 28px;
    font-weight: 600;
    color: green;
}

/* box-head */

/* song-item */
.song-item {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.song-item .inner-image {
    width: 115px;
    aspect-ratio: 1/1;
    border-radius: 5px;
    overflow: hidden;
}

.song-item .inner-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.song-item .inner-content {
    padding: 10px;
    flex: 1;
}

.song-item .inner-content .inner-title {
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    margin-bottom: 5px;
}

.song-item .inner-content .inner-title a {
    font-size: 14px;
    font-weight: 700;
    color: #4d007d;
}

.song-item .inner-content .inner-title a:hover {
    color: #7c00c8;
    text-decoration: none;
}

.song-item .inner-content .inner-singer {
    font-size: 13px;
    font-weight: 500;
    color: #282828;
    margin-bottom: 2px;
}

.song-item .inner-content .inner-like {
    font-size: 13px;
    font-weight: 500;
    color: #004cd0;
    margin-bottom: 2px;
}

.song-item .inner-content .inner-time {
    font-size: 13px;
    font-weight: 500;
    color: #585858;
}

.song-item .inner-content .inner-heart {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 2px;
    cursor: pointer;
};

.song-item .inner-content .inner-heart.active span{
    display: inline-block;
    color: #b90000;
}

.song-item .inner-content .inner-heart.active i {
    font-weight: 900;
    color: #b90000;

}
/* End song-item */

/* singer-detail */

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.singer-detail .inner-like {
    cursor: pointer;
}

.singer-detail .inner-like i {
    color: #004cd0;
}

.singer-detail .inner-like.active {
    color: #004cd0;
}

.singer-detail .inner-like.inner-like.active i {
    font-weight: 900;
}

.singer-detail .inner-heart {
    cursor: pointer;
}

.singer-detail .inner-heart i {
    color: #b90000;
}

.singer-detail .inner-heart.active {
    color: #b90000;
}

.singer-detail .inner-heart.active i {
    font-weight: 900;
}


.singer-detail .inner-play {
    display: flex;
    align-items: center;
    margin: 30px 0px;
}

.singer-detail .inner-play .inner-audio {
    margin-left: 30px;
    flex: 1;
}

.singer-detail .inner-avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    overflow: hidden;
    animation: rotate 12s linear infinite;
    border: 5px solid #F57F20;
    animation-play-state: paused;
}

.singer-detail .inner-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.singer-detail .inner-desc {
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-bottom: 20px;
}

.singer-detail .inner-desc .inner-label {
    font-size: 16px;
    font-weight: 700;
    color: #F57F20;
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
}

.singer-detail .inner-desc .inner-text {
    font-size: 14px;
    padding: 10px 15px;
}

/* End singer-detail */

/* search */
.box-search {
    position: relative;
}

.box-search .inner-suggest {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 300px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    z-index: 1;
    overflow-y: auto;
    display: none;
}

.box-search .inner-suggest.show {
    display: block;
}

.box-search .inner-suggest .inner-item {
    display: flex;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.box-search .inner-suggest .inner-item:hover {
    background-color: #efefef;
    text-decoration: none;
}

.box-search .inner-suggest .inner-item:last-child {
    border-bottom: 0;
}

.box-search .inner-suggest .inner-item .inner-image {
    width: 60px;
    aspect-ratio: 1/1;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 5px;
}

.box-search .inner-suggest .inner-item .inner-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-search .inner-suggest .inner-item .inner-info .inner-title {
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 700;
    color: #4d007d;
}

.box-search .inner-suggest .inner-item .inner-info .inner-singer {
    font-size: 13px;
    font-weight: 500;
    color: #282828;
    margin-bottom: 2px;
}


/* end search */